html,
body {
  height: 100%;
  text-align: center;
  color: #000a0d;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.square {
  display: inline-block;
  border: 0.5px solid #000a0d;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.form-switch .form-check-input {
  margin-left: 4px;
  margin-right: 8px;
}

.dead {
  background-color: #bfbfbd;
}

.alive {
  background-color: #326ee1;
}

.square:hover {
  background: #00008b;
}

.grid {
  width: 800px;
  line-height: 0;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

#title {
  font-family: "Bungee", cursive;
  color: #000a0d;
  font-size: 64px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.slider {
  width: 200px;
}

#gen-counter {
  text-align: center;
  padding-left: 48px;
}

#gen-counter--label {
  padding-left: 24px;
  display: inline-block;
  min-width: 96px;
  text-align: left;
}
